body {
    margin: 0 auto;
    padding: 0 auto;
    text-align: center;
    background-color:  #212529;
    max-width: 100vw;
    max-height: 100vh;
    color:white;
    /* font-family:Arial, Helvetica, sans-serif; */
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 100;
  }

nav {
  border-bottom: 1px solid gray;
  orientation: landscape;
  /* position: sticky; */
  position: fixed;
  width: 100%;
  z-index: 1000;
  background-color: #212529;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
  /* position: fixed; */
  /* justify-content:left; */
  align-items: center;
}

li {
  /* float: left; */
  display: flex;
  /* display: inline-block; */
  /* display: inline-block; */
  /* vertical-align: top; */
  /* text-align: center; */
  padding-left: 2%;
  padding-right: 2%;
  justify-self: right;
  justify-items: right;
  justify-content: right;
  /* border-right: 1px solid gray; */
}
li #navButton {
  vertical-align: middle;
  text-align: center;
  justify-self: center;
  align-self: center;
}

#navButton, #cpxDownload, #cpxDownloadVideo {
  border-radius: 5px;
  border: none;
  background-color: green;
  padding: 10px;
  color: white;
  text-decoration-color: white;
}

#cpxDownload, #cpxDownloadVideo {
  border-radius: 0;
}

#cpxDownload:disabled, #cpxDownloadVideo:disabled {
  background-color: lightgreen;
}

#cpxDownload:disabled:hover, #cpxDownloadVideo:disabled:hover {
  background-color: lightgreen;
  color:white;
}

label {
  font-size: 18px;
  vertical-align: middle;
}

#navButton a{ 
  text-decoration: none;
  color: white;
}

#navButton:hover, #cpxDownload:hover, #cpxDownloadVideo:hover {
  transition-duration: 500ms;
  background-color: aliceblue;
  color:black;
}

#navButton:hover a {
  transition-duration: 500ms;
  color: black;
}

#master-container {
    margin:0 auto;
    width: 80%;
    /* border: 1px solid red; */
}

#container {
    display: table;
    max-width: 100vw;
    max-height: 100vh;
    margin:0 auto;
    /* border-radius: 10px; */
    border: 1px solid white;
    box-shadow: 0px 0px 40px 0px black;
}

#buttons {
    margin:0;
    display: 'inline-block';
    padding: 0;
    font-size: 0;
    border-radius: 5px;
    /* float: left; */
}

#buttons button {
    padding: 1%;
    margin:0px;
    background-color: teal;
    border:0px;
    border-radius: 0px;
    color:white;

}

#buttons button:hover {
    background-color: lightgreen;
    transition-duration: 500ms;
}

  #menu {
    display: none;
    position: absolute;
    min-width:100px;
    width: 10%;
    background-color: white;
    box-shadow: 0 0 5px grey;
    border-radius: 3px;
    text-align:left;
  }

  #menu button {
    width: 100%;
    background-color: white;
    border: none;
    border-bottom: 1px solid gray;
    margin: 0;
    padding: 10px;
    text-align: left;
  }

  #row-alignment, #row-decoration {
      display:'inline-block';
      width: 100%;
      border:none;
      padding: 0;
      margin: 0 auto;
      font-size: 0;
      border-bottom:1px solid gray;
  }
  #row-alignment button, #row-decoration button {
      /* width: 1fr; */
        width: auto;
        border:none;
  }

  #menu button:hover {
    background-color: lightgray;
  }

  #recordBtn {
    background-color: red;
    border: none;
    padding: 10px;
    color: #f0f0f0;
  }

  #recordBtn:disabled {
    background-color: lightsalmon;
  }

  #recordBtn i {
    color: #f0f0f0;
  }

  #playerBtn, input[type=button] {
    background-color: red;
    border: none;
    padding: 10px;
    color: #f0f0f0;
  }

  #playerBtn i {
    color: #f0f0f0;
  }

/*input[type=file],*/#streamidsubmit {
  background-color: red;
  border: none;
  border-radius: 5px;
  padding: 10px;
  color: white;
}

#streamidsubmit:hover {
  transition-duration: 500ms;
  background-color: white;
  color: black;
}

small {
  display: flex;
  border-top: 1px solid gray;
  padding-top: 5px;
  padding-bottom: 5px;
  justify-content: center;
}